.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
}

#light .reviews {
    background-color: #f4f6fa;
}

#dark .reviews {
    background-color: #1e1e1d;
}

.content_reviews {
    margin: 25%;
}