/* Настройка стиля для страницы с опросами. Отвечают за цвета при наведении, обводку, а также за цвета поиска */
#light .weak-orange {
    background-color: #ffffff;
}

#light .weak_blue {
    --bs-table-bg: #f9f8f5;
}

#light .weak_blue:hover {
    --bs-table-bg: #ccdeed
}

#dark .weak-orange {
    background-color: #333330;
    color: #eaeaea;
    border: 1.5px solid black;
}

#dark .weak-orange::placeholder {
    color: #eaeaea;
}

#dark .weak_blue {
    --bs-table-bg: #333332;
    --bs-table-color: #eaeaea;
    border-color: black;
}

#dark .weak_blue:hover {
    --bs-table-hover-color: #eaeaea;
}

#dark .table-header {
    --bs-table-bg: #333330;
    --bs-table-color: #eaeaea;
    border-color: black;
}

#light .table-header {
    --bs-table-bg: #f9f8f5;
    --bs-table-color: black;
    border-color: #dee2e6;
}