.radio input[type="radio"]:checked+span {
  border-color: #0b76ef;
  background-color: #0b76ef;
}

.radio input[type="radio"]:not(:checked):hover {
    background-color: #b3d7ff;
}

.complain {
    color: #FF0B0B;
    opacity: 51%;
    text-underline-offset: 0.1px;
    text-underline-position: under;
}

.author {
    text-underline-offset: 0.1px;
    text-underline-position: under;
}

#light .background_color_of_choice_btns {
    background-color: #ffffff;
    border: 1px solid black;
}

#dark .background_color_of_choice_btns {
    background-color: #2f2f2c;
    border: 1px solid black;
}