.btn.text-darkred {
  color: darkred;
}

.btn.text-darkred:hover {
  text-decoration: underline;
  color: red;
}

.item_on_header {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
}

.item_on_header::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.item_on_header:hover {
    color: black;
}

#dark .item_on_header::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 3px;
    color: white;
    background-color: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

#dark .item_on_header:hover {
    color: white;
}

.item_on_header.active::after {
    transform: scaleX(1);
}

.item_on_header:hover::after {
    transform: scaleX(1);
}

#dark .item_on_header.active::after {
    transform: scaleX(1);
}

#dark .item_on_header:hover::after {
    transform: scaleX(1);
}