.tab {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.tab.active.btn {
  text-decoration: underline;
}

.btn.text-darkred {
  color: darkred;
}

.btn.text-darkred:hover {
  text-decoration: underline;
  color: red;
}