.PollsPage {
    background-color: rgb(152, 230, 255);
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.weak-orange {
    background-color: rgb(248, 240, 235);
}

.weak-orange:focus {
    background-color: rgb(248, 240, 235);
}

.weak_blue {
    background-color: rgb(215, 226, 255)
}

.weak_blue:hover {
    background-color: #8bcbff
}