.PollsPage {
    background-color: #264e58;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.weak-orange {
    background-color: #ffffff;
}

.weak_blue {
    background-color: #f9f8f5;
}

.weak_blue:hover {
    background-color: #ccdeed
}