@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

/* Общий стиль для body */
body {
  background: #f4f6fa;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}


/* Настройка шрифтов для загаловков, спанов и строк */
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}


/* Настройка ширины и высоты */
body,
html,
.App,
#root,
.body-wrapper {
  width: 100%;
  height: 100%;
}


/* Стиль для внешнего блока */
.body-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}


/* Стиль главного заднего фона */
#light {
  background-color: #f4f6fa;
}

#dark {
  background-color: #1e1e1d;
}


/* Стиль для внутреннего блока */
#light .body-inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}

#dark .body-inner {
    width: 450px;
    margin: auto;
    background: #222220;
    color: #ffffff;
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}


/* Стиль для форм(во время фокуса) */
.body-wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}


/* Стиль для заголовка h3 */
.body-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}


/* Стиль для страницы */
#light .BasePageCss {
    background-color: #f4f6fa;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#dark .BasePageCss {
    background-color: #1e1e1d;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}


/* Стиль для текста */
#light .text_color {
    color: black;
}

#dark .text_color {
    color: white;
}


/* Стиль для кнопок(btn-primary) */
#dark .btn-primary {
    background-color: #0b53aa;
    border: 0;
}